.movie-box {
  display: flex;
  flex-direction: row;
  width: 400px;
  height: 180px;
  gap: 20px;
  margin-top: 30px;
  background-color: aliceblue;
  color: black;
  padding: 20px;
  border-radius: 10px;
}

.movie-img {
  width: 100px;
  height: 100px;
  border-radius: 5px;
}

.movie-list-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.genres-parent {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.geres-list {
  width: 68px;
  background-color: #eaac99;
  text-align: center;
  font-size: 12px;
  border-radius: 10px;
}
